.container{   
max-width: 1100px;
margin: auto;
/* border: 1px solid gray;  */
border-top: 0;
}
h2{
margin-top: 0;
padding-top: 10px;    
}
.squareInsert{
max-width: 700px;
border: 1px solid gray; 
border-radius: 6px;
margin: auto;
padding: 7px;
}
.gridInsert{
text-align: left;    
display: grid;
grid-template-columns: auto auto;}
.gridInput{
display: grid;
grid-gap: 10px;
grid-template-columns: auto auto auto;    
}
/* .divSelect{
max-width: 160px;
} */
select{
    font-size: 17px;
}
.gridSelect{
display: grid;
grid-template-columns: auto auto;

}
button{
width: 120px;   
font-style: 15px; 
}
.firstOption{
    display: none;
}
@media only screen and (max-width: 500px) {
    .gridInsert{
    grid-template-columns: auto;}
  }
@media only screen and (max-width: 700px) {
.gridInput{
grid-gap: 5px;    
grid-template-columns: auto ;    
}
}




