.container{
    max-width: 1100px;
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    } 
    .squareLogin{
    max-width: 550px;
    border: 1px solid gray;    
    display: block;
    padding: 15px;
    border-radius: 8px;
    }
    input{
    width: 100%;    
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 30px;
    font-size: 18px;
    }
    button{
    width: 120px;    
    width: 200px;    
    background-color: rgb(39, 121, 214);
    border: 1px solid rgb(39, 121, 214);
    color: white;
    border-radius: 5px;
    font-size: small;
    align-self: center;
    cursor: pointer;
    margin-bottom: 15px;
    }
    button:hover{
    background-color: blue;    
    }
.btnView{
background-color: rgb(48, 167, 48);
border: 1px solid rgb(48, 167, 48);
display: block;
margin: auto;
width: 120px;    
}
.btnView:hover{
background-color: rgb(11, 122, 11);
}
h3{
margin-top: 0;    
}
label{
display: flex;    
flex-direction: row;
justify-content: space-evenly;
color: rgb(83, 81, 81);
font-size: 20px;
}
.inputDate{
max-width: 180px;
}
@media (max-width: 500px) {
label{font-size: 16px;  }  
      }

