.modalOn{
background: rgba(0, 0, 0, 0.5);
/* position: absolute; */
position: fixed;
width: 100% ;
height: 100%;
top: 0;
display: flex;
justify-content: center;
align-items: center ;
}
.modalOff{
display: none;
}

.square{
border: 1px solid gray;   
max-width: 300px; 
border-radius: 5px;
position: relative;
background-color: white;
max-height: 110px;
padding-left: 10px;
padding-right: 10px;
}
.btnNot{
margin-right: 10px;

}
.btnYes:hover{
background-color: green;
}


